body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
}
nav {
    background: #36454f;
    padding: 0 50px;
}
nav img {
    width: 100px;
    padding: 15px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    list-style: none;
    padding: 20px 20px;
    font-size: 17px;
    color: #ffffff;
}
nav ul li.active {
    text-decoration: underline;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: .3s ease;
}
nav ul li a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}
.staticimg {
    position:absolute;
    background-color: #36454f;
}
.staticimg:hover {
    opacity:0;
}
#title {
    position: relative; 
    height: 185px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/jewelry_pile.JPG");
    background-size: cover;
    background-position: center;
} 
#title::before {                      
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
#title h1 {
    position: relative;
    color: #ffffff;  
    text-align: center;
}
.flex {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
.flex.space-around {
    justify-content: space-around;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.center {
    justify-content: center;
}
.flex.flex-start {
    align-items: flex-start;
}
footer {
    border-top: 8px solid #1d282e;
    background-color: #0b0f11;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0px;
    height: 50px;
}
footer li {
    margin: 10px;
    list-style: none; 
}
footer a {
    text-decoration: underline;
    font-size: 15px;
    color: #ffffff;
}
footer a:hover{
    text-decoration: none;
}
footer h6 {
    font-family: 'Nova Mono', monospace;
    color: #1d282e;
    margin: 0;
    padding:0px 20px;
    font-size: 15px;
}
