form{
    margin: 50px auto;
    max-width: 900px;
}
form h2 {
    text-align: center;
    font-size: 30px;
}
input[type=text], textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px;
    margin: 14px 20px;
    font-size: 14px;
}
form {
    font-size: 17px;
}
textarea {
    resize: none;
    font-family: inherit;
}
#submit {
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 10px 50px;
    color: #000000;
    border-radius: 25px;
    border: solid #000000;
    text-decoration: none;
    transition: transform .2s cubic-bezier(.235,0,.05,.95);
    background-color: #ffffff;
}
#submit:hover {
    transform: scale(1.1);
}