#content {
    margin: 50px auto;
    max-width: calc((350px * 3) + (30px * 3)); /* fits 3 .item divisions */
}
.item {
    width: 350px;
    margin: 0 15px 30px 15px;
}
.item a {
    color: #000000;
    text-decoration: none;
    width: 0;
    height: 0;
}
.item img {
    border-radius: 15px;
    width: 100%;
}
.item h4, p {
    margin: 10px 0 10px 10px;
    font-size: 18px;
}
.item a:hover {
    text-decoration: underline;
}
.item p {
    font-weight: 200;
}