.content {
    font-family: 'Raleway', sans-serif;
}
.content div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.explanation {
    max-width: 400px;
    font-size: 20px;
    text-indent: 1cm;
    line-height: 1.6;
}
.content h1 {
    text-align: center;
}
.content img {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 15px 15px rgba(0,0,0,.15);

}