.form{
    padding: 50px 100px;
}
input[type=text], textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px;
    margin: 14px 20px;
    font-size: 14px;
}
label {
    font-size: 17px;
}
textarea {
    resize: none;
    font-family: inherit;
}
button {
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100px;
    background-color: #88a7a5;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #608280;
    
}