.title {
    background-color: #88a7a5;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    color: #212b31;
    font-size: 30px;
    padding: 20px;
    font-weight: 300;
}
h1, h3 {
    margin: 10vh 0;
}
#hero { 
    position: relative; 
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("Jewlery_Pile.JPG");
    background-size: cover;
    background-position: center;
}
#hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
#hero div {
    position: relative;
    color: #ffffff;  
    text-align: center;
}
#hero a {
    display: inline-block;
    margin-top: 20px;
}
#hero a:hover{
    text-decoration: underline;
}
.quote {
    margin-bottom: 50px;
}
#lauraimg {
    max-width: 55vh;
    border-radius: 20px;
}
.content {
    text-align: center;
}
.quote p {
    max-width: 500px;
    background-color: #c1ceca;
    border-radius: 0 20px 20px 20px;
    padding: 20px;
    margin: 30px;
    font-style: italic;
    font-size: 25px;
    box-shadow: 10px 10px rgba(0,0,0,.15);
}
.content a {
    font-size: 20px;
}
#main a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #5f544b;
    color: #ffffff;
} 