.companyTitle
 { 
    background-color: #88a7a5;
    text-align: center;
    font-family: 'Nova Mono', monospace;
    color: #212b31;
    font-size: 30px;
    padding: 20px;
    font-weight: 300;
}
h1, h3 {
    margin: 55px 0;
}
#hero { 
    position: relative; 
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/jewlery_pile.JPG");
    background-size: cover;
    background-position: center;
}
#hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
#hero div {
    position: relative;
    color: #ffffff;  
    text-align: center;
}
#hero a {
    display: inline-block;
    margin: 20px 0;
}
#hero a:hover{
    text-decoration: underline;
}
#hero a {
    text-decoration: none;
    padding: 10px;
    background-color: #5b4b44;
    color: #ffffff;
    font-size: 20px;
}
#hero a:hover {
    text-decoration: underline;
}
.quote {
    margin-top: 30px;
}
#lauraimg {
    width: 300px;
}
#content {
    text-align: center;
}
.quote p {
    max-width: 500px;
    border-radius: 0 20px 20px 20px;
    border: solid #556c7c;
    padding: 20px;
    margin: 30px;
    font-style: italic;
    font-size: 25px;
}
.text {
    text-decoration: none;
    display: inline-block;
    color: #556c7c;
    font-size: 17px;
}
.text:hover {
    color: #36454f;
} 
.block {
    margin-top: 50px;
    align-items: flex-start;
}
.block img {
    max-width: 430px;
}
.block div {
    max-width: 315px;
    margin: 25px 25px 0;
}
.block p {
    text-align: left;
}
.block h2 {
    color: #36454f;
    margin: 0 0 25px;
}
.reverse {
    flex-direction: row-reverse;
}