#content {
background-color: red;
}
#item {
    width: calc(100% - 30px/4);
    margin: 0 10px 0 10px;
    background-color: green;
}
#item:nth-child(4n) {
    margin-right: 0;
}
h1 {
    font-weight: 1000px;
}