body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
}
nav {
    /* background: #c1ceca; */
    background: #36454f;
    padding: 0 50px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    list-style: none;
    padding: 0 20px;
    font-size: 17px;
    color: #ffffff;
    /* color: #212b31; */
}
nav ul li.active {
    text-decoration: underline;
}
nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: .3s ease;
}
nav ul li a:hover {
    transform: translateY(-5px);
    text-decoration: underline;
}
.content-margin {
    margin: 7vh 70px;
}
.flex {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}
.flex.space-around {
    justify-content: space-around;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.center {
    justify-content: center;
}
.block {
    margin: 5vh 5px;
    background-color: #70746c;
    width: 60vh;
    height: auto;
    /* overflow: hidden; */
    border-radius: 10px;
    text-align: center;
}
.block p {
    font-size: 21px;
    color: #141b1f;
}
.block img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.block p, a {
    margin: 15px;
}
.block a {
    padding: 10px;
    display: inline-block;
    background-color: red;
    color: #000000;
}
.description {
    max-width: 500px;
}
footer {
    border-top: 8px solid #36454f;
    background-color: #212b31;
    margin: 0;
    height: 100%;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0px;
    height: 50px;
}
footer li {
    margin: 10px;
    list-style: none; 
}
footer a {
    text-decoration: underline;
    font-size: 15px;
    color: #ffffff;
}
footer a:hover{
    text-decoration: none;
}
footer h6 {
    color: #36454f;
    margin: 0;
    padding:0px 20px;
    font-size: 15px;
}